{% extends 'base.html' %}
{% block content %}

<div class="background-image d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="login-form">
        <h1 class="text-center mb-4">Login</h1>
        <div class="container">
          <style>
              body {
                background-image: url('https://i.pinimg.com/originals/e9/cf/a7/e9cfa71f02ff8e3504410e831d883cd7.gif');
                  background-size: cover;
                  background-position: center;
                  height: 100vh; 
              }
              .container {
                  padding-top: 100px; 
                  color: rgba(9, 9, 9, 0.588); 
              }
          </style>
      </div>
      <div class="background-image d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="login-form" style="backdrop-filter: blur(7px); background-color: rgba(255, 255, 255, 0.157); padding: 20px;">
        <form method="POST" action="/login">
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <small class="form-text text-muted">Don't have an account? <a href="/registration">Register now</a></small>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
