<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Success</title>
   
</head>
<body>
    <div class="container">
        <h1>Registration Successful!</h1>
        <p>You can now proceed to <a href="/login">login</a>.</p>
    </div>
    <div class="container">
        <style>
            body {
                background-image: url('https://img.freepik.com/premium-vector/clouds-stars-sun-blue-background-childrens-vector-illustration-sky_153074-219.jpg');
                background-size: cover;
                background-position: center;
                height: 100vh; 
            }
            .container {
                padding-top: 100px; 
                color: rgb(10, 9, 9); 
            }
        </style>
    </div>
    
</body>
</html>
